* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* The parent container */
#letters-container {
  border: 1px solid black;
  background: lightgrey;
  padding: 2rem;

  /* TODO: Add flex properties like display, gap, justify-content, and align-items */

}

/* The child elements */
#letters-container>p {
  border: 1px solid black;
  font-size: 2rem;
  align-content: center;
  text-align: center;
  /* CSS Animation to show the size changing more slowly */
  transition: 0.5s;

  /* TODO: Add flex properties like flex-grow, flex-shrink, and flex-basis */
}

/* The first child element */
#letters-container>p:nth-child(1) {
  background: red;
  min-height: 40px;
}

/* The second child element */
#letters-container>p:nth-child(2) {
  background: orange;
  min-height: 60px;
}

/* And so on... */
#letters-container>p:nth-child(3) {
  background: yellow;
  min-height: 80px;
}

#letters-container>p:nth-child(4) {
  background: green;
  min-height: 100px;
}

#letters-container>p:nth-child(5) {
  background: blue;
  min-height: 120px;
}